.logo {
    text-align: center;
    font-family: 'shrikhandregular';
    padding-top: 24px;
}

#homepage-bloc {
    min-width: 375px;
    max-width: 600px;
    margin: 0px;
}

.menu-bloc {
    min-width: 375px;
    max-width: 600px;
    margin: 0px;
}