@font-face {
  font-family: 'shrikhandregular';
  src: url("../../fonts/Shrikhand-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url("../../fonts/Roboto-Black.ttf"), url("../../fonts/Roboto-BlackItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold';
  src: url("../../fonts/Roboto-Bold.ttf"), url("../../fonts/Roboto-BoldItalic.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url("../../fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium';
  src: url("../../fonts/Roboto-Medium.ttf"), url("../../fonts/Roboto-MediumItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotothin';
  src: url("../../fonts/Roboto-Thin.ttf"), url("../../fonts/Roboto-ThinItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight';
  src: url("../../fonts/Roboto-Light.ttf"), url("../../fonts/Roboto-LightItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

#homepage-bloc {
  min-width: 375px;
  max-width: 600px;
  margin: 0px;
}

.menu-bloc {
  min-width: 375px;
  max-width: 600px;
  margin: 0px;
}

.logo {
  text-align: center;
  font-family: 'shrikhandregular';
  padding-top: 24px;
}

#localisation {
  background-color: #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  width: 100%;
}

.search-bar {
  background-color: #e6e6e6;
  border: none;
  font-family: "robotobold";
  font-size: 18px;
  padding-left: 20px;
  text-align: center;
  width: 43%;
  height: 50px;
}

.presentation {
  background-color: #f6f6f6;
  text-align: center;
  padding: 15px;
}

.presentation h2 {
  font-family: "robotobold";
  text-align: center;
  padding: 10px 65px 0px 65px;
}

.presentation p {
  font-family: 'robotolight';
}

.browse-button {
  cursor: pointer;
  border: none;
  padding: 18px;
  margin: 15px 0px 40px 0px;
  color: white;
  font-family: "robotobold";
  font-size: 14px;
  border-radius: 75px;
  background-image: linear-gradient(-10deg, #9356dc, #ff79da);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: background-image 2s linear 2s, -webkit-box-shadow 1s;
  transition: background-image 2s linear 2s, -webkit-box-shadow 1s;
  transition: background-image 2s linear 2s, box-shadow 1s;
  transition: background-image 2s linear 2s, box-shadow 1s, -webkit-box-shadow 1s;
}

.browse-button:hover {
  background-image: linear-gradient(-10deg, #a16be0, #ff93e1);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.operation {
  padding: 32px 20px 20px 34px;
}

.operation h2 {
  font-family: "robotobold";
}

.operation .operation-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.operation .function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  height: 70px;
  margin-bottom: 16px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: -webkit-box-shadow 1s ease-out;
  transition: -webkit-box-shadow 1s ease-out;
  transition: box-shadow 1s ease-out;
  transition: box-shadow 1s ease-out, -webkit-box-shadow 1s ease-out;
}

.operation .function:hover {
  background-color: #f5edff;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.operation .function > p {
  position: absolute;
  color: white;
  margin-left: -14.5px;
  background-color: #9356dc;
  border-radius: 30px;
  padding: 0.25em 0.5em;
}

.step {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "robotobold";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 16px;
}

.step i {
  color: grey;
  font-size: larger;
  padding: 0 15px;
}

.step i:hover {
  color: #9356dc;
}

.restaurants-choice {
  background-color: #f4f4f4;
  width: 100%;
  margin-left: 0px;
  padding-top: 58px;
  padding-bottom: 15px;
}

.restaurants-choice h2 {
  font-family: "robotobold";
  margin-left: 15px;
}

.restaurant-box {
  background-color: white;
  border-radius: 15px;
  height: 252px;
  width: 95%;
  margin: auto;
  margin-bottom: 17px;
}

figure {
  width: 100%;
  position: relative;
  margin: auto;
}

figcaption .new-restaurant {
  position: absolute;
  top: 12px;
  right: 15px;
  font-family: "robotobold";
  background-color: #99e2d0;
  padding: 10px;
  color: #008766;
  border-radius: 5px;
}

.restaurant-photo {
  width: 100%;
  height: 175px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.location-info {
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurant-name h3 {
  margin: 5px;
  color: black;
  font-family: "robotobold";
}

.restaurant-name p {
  margin: 5px;
  color: black;
  font-family: "robotoregular";
}

a:link {
  text-decoration: none;
}

.heart {
  color: #9356dc;
}

footer {
  background-color: #353535;
  color: white;
  padding: 25px;
}

footer h3 {
  font-family: "shrikhandregular";
  font-size: 20px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

ul a {
  color: white;
  font-family: "robotoregular";
}

ul a:hover {
  color: #9356dc;
}

i.fas.fa-utensils {
  margin-right: 15px;
  color: white;
}

i.fas.fa-utensils:hover {
  color: #9356dc;
}

i.fas.fa-hands-helping {
  margin-right: 8px;
  color: white;
}

i.fas.fa-hands-helping:hover {
  color: #9356dc;
}
/*# sourceMappingURL=main.css.map */