@font-face {
  font-family: 'shrikhandregular';
  src: url("../../fonts/Shrikhand-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url("../../fonts/Roboto-Black.ttf"), url("../../fonts/Roboto-BlackItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold';
  src: url("../../fonts/Roboto-Bold.ttf"), url("../../fonts/Roboto-BoldItalic.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url("../../fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium';
  src: url("../../fonts/Roboto-Medium.ttf"), url("../../fonts/Roboto-MediumItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotothin';
  src: url("../../fonts/Roboto-Thin.ttf"), url("../../fonts/Roboto-ThinItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight';
  src: url("../../fonts/Roboto-Light.ttf"), url("../../fonts/Roboto-LightItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes spinner-anim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes spinner-anim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes fa-rotate-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes fa-rotate-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes slide-menu {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes slide-menu {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes fill {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fill {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes rotate-check {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-check {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loader-spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 4;
  -webkit-animation: spinner-anim 3s linear both;
          animation: spinner-anim 3s linear both;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader-spinner i {
  color: #99e2d0;
  -webkit-animation: fa-rotate-spinner;
          animation: fa-rotate-spinner;
  -webkit-animation-duration: 3.0s;
          animation-duration: 3.0s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.logo {
  text-align: center;
  font-family: 'shrikhandregular';
  padding-top: 24px;
}

#homepage-bloc,
.menu-bloc {
  min-width: 375px;
  max-width: 1440px;
  margin: 0px;
}

#localisation {
  background-color: #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  width: 100%;
}

.search-bar {
  background-color: #e6e6e6;
  border: none;
  font-family: "robotobold";
  font-size: 18px;
  padding-left: 20px;
  text-align: center;
  width: 43%;
  height: 50px;
}

.presentation {
  background-color: #f6f6f6;
  text-align: center;
  padding: 15px;
}

.presentation h2 {
  font-family: "robotobold";
  text-align: center;
  padding: 10px 65px 0px 65px;
}

.presentation p {
  font-family: 'robotolight';
}

.btn-browse {
  cursor: pointer;
  border: none;
  color: white;
  font-family: "robotobold";
  font-size: 16px;
  border-radius: 75px;
  background-image: linear-gradient(-10deg, #9356dc, #ff79da);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: background-image 2s linear 2s, -webkit-box-shadow 1s;
  transition: background-image 2s linear 2s, -webkit-box-shadow 1s;
  transition: background-image 2s linear 2s, box-shadow 1s;
  transition: background-image 2s linear 2s, box-shadow 1s, -webkit-box-shadow 1s;
}

.btn-browse:hover {
  background-image: linear-gradient(-10deg, #a16be0, #ff93e1);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.btn-present {
  padding: 18px;
  margin: 15px 0px 40px 0px;
}

.btn-order {
  height: 50px;
  width: 200px;
  padding: 15px 18px 15px 18px;
  margin: 50px 0px 70px 0px;
}

.operation {
  padding: 32px 20px 20px 34px;
}

.operation h2 {
  font-family: "robotobold";
}

.operation .operation-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1260px) {
  .operation .operation-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1260px) {
  .operation .operation-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.operation .function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  height: 70px;
  margin-bottom: 16px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: -webkit-box-shadow 1s ease-out;
  transition: -webkit-box-shadow 1s ease-out;
  transition: box-shadow 1s ease-out;
  transition: box-shadow 1s ease-out, -webkit-box-shadow 1s ease-out;
}

.operation .function:hover {
  background-color: #f5edff;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.operation .function .number {
  position: absolute;
  color: white;
  margin-left: -14.5px;
  background-color: #9356dc;
  border-radius: 30px;
  padding: 0.25em 0.5em;
}

@media screen and (min-width: 1260px) {
  .function {
    width: 30%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1260px) {
  .function {
    width: 30%;
  }
}

.step {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "robotobold";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 16px;
}

.step i {
  color: grey;
  font-size: larger;
  padding: 0 15px;
}

.step:hover > i {
  color: #9356dc;
}

.restaurants-choice {
  background-color: #f4f4f4;
  width: 100%;
  margin-left: 0px;
  padding-top: 58px;
  padding-bottom: 15px;
}

@media screen and (min-width: 1260px) {
  .restaurants-choice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 99.5%;
  }
}

.restaurants-choice h2 {
  font-family: "robotobold";
  margin-left: 15px;
}

@media screen and (min-width: 1260px) {
  .restaurants-choice h2 {
    position: absolute;
    margin-top: -50px;
  }
}

.restaurant-box {
  background-color: white;
  border-radius: 15px;
  height: 252px;
  width: 95%;
  margin: auto;
  margin-bottom: 17px;
}

@media screen and (min-width: 1260px) {
  .restaurant-box {
    width: 24%;
  }
}

figure {
  width: 100%;
  position: relative;
  margin: auto;
}

figcaption .new-restaurant {
  position: absolute;
  top: 12px;
  right: 15px;
  font-family: "robotobold";
  background-color: #99e2d0;
  padding: 10px;
  color: #008766;
  border-radius: 5px;
}

.restaurant-photo {
  width: 100%;
  height: 175px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.location-info {
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurant-name h3 {
  margin: 5px;
  color: black;
  font-family: "robotobold";
}

.restaurant-name p {
  margin: 5px;
  color: black;
  font-family: "robotoregular";
}

a:link {
  text-decoration: none;
}

footer {
  background-color: #353535;
  color: white;
  padding: 25px;
}

footer h3 {
  font-family: "shrikhandregular";
  font-size: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1260px) {
  footer h3 {
    text-align: center;
  }
}

@media screen and (min-width: 1260px) {
  footer h3 {
    text-align: center;
  }
}

ul {
  list-style-type: none;
  padding-left: 0px;
  line-height: 25px;
}

ul :hover {
  color: #9356dc;
}

@media screen and (min-width: 1260px) {
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1260px) {
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

ul a {
  color: white;
  font-family: "robotoregular";
}

ul a :hover {
  color: #9356dc;
}

.fas.fa-utensils {
  margin-right: 15px;
  color: white;
}

.fas.fa-utensils :hover {
  color: #9356dc;
}

.fas.fa-hands-helping {
  margin-right: 8px;
  color: white;
}

.fas.fa-hands-helping :hover {
  color: #9356dc;
}

.back-arrow {
  position: absolute;
  color: black;
  top: 30px;
  left: 25px;
  font-size: 25px;
}

.cover-photo {
  width: 100%;
  height: 250px;
  position: relative;
  border-radius: 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant-menu {
  background-color: #f6f6f6;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  padding: 10px;
  margin-top: -35px;
  position: relative;
}

.restaurant-menu .set-meal {
  height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1260px) {
  .restaurant-menu .set-meal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 350px;
  }
}

.restaurant-menu .set-meal-la-note {
  height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1260px) {
  .restaurant-menu .set-meal-la-note {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 400px;
  }
}

.restaurant-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurant-title h2 {
  font-family: "shrikhandregular";
  font-size: 26px;
}

.meal-type {
  font-family: "robotoregular";
  margin-left: 20px;
  padding-bottom: 9px;
  border-bottom: 4px solid #99e2d0;
  width: 40px;
}

.dish-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 240px;
  -webkit-animation: slide-menu 1s;
          animation: slide-menu 1s;
}

@media screen and (min-width: 1260px) {
  .dish-category {
    width: 355px;
  }
}

.dish-category-la-note {
  height: 325px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: slide-menu 1s;
          animation: slide-menu 1s;
}

@media screen and (min-width: 1260px) {
  .dish-category-la-note {
    width: 355px;
  }
}

.dish-choice {
  background-color: white;
  height: 70px;
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: -1px 2px 10px #0000002e;
          box-shadow: -1px 2px 10px #0000002e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dish-choice:hover .selection {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.dish-choice:hover .icon-check {
  -webkit-animation: rotate-check 500ms ease-in-out 1 forwards;
          animation: rotate-check 500ms ease-in-out 1 forwards;
  cursor: pointer;
}

.dish-choice:hover .dish-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dish-choice:hover .dish {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dish-choice:hover .dish-price {
  margin-right: 70px;
  -webkit-transition: margin-right 500ms;
  transition: margin-right 500ms;
}

.dish-name {
  height: 50%;
  font-family: "robotobold";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

.dish-info-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 50%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.dish-info-price .dish {
  font-family: "robotoregular";
  margin-left: 10px;
}

.dish-info-price .dish-price {
  font-family: "robotobold";
  margin-right: 10px;
}

.selection {
  position: absolute;
  background: #99e2d0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 60px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.selection .icon-check {
  color: white;
  font-size: 25px;
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heart-menu {
  width: 30px;
  height: 30px;
  position: relative;
  font-size: 30px;
  color: black;
}

.heart-index {
  width: 30px;
  height: 30px;
  position: relative;
  font-size: 30px;
  color: black;
  right: 20px;
}

.heart-icon-empty {
  -webkit-transform: scale(1);
          transform: scale(1);
  font-size: 30px;
  position: absolute;
  top: 0;
  opacity: 1;
}

.heart-icon-full {
  -webkit-transition: -webkit-transform 800ms ease-in-out;
  transition: -webkit-transform 800ms ease-in-out;
  transition: transform 800ms ease-in-out;
  transition: transform 800ms ease-in-out, -webkit-transform 800ms ease-in-out;
  font-size: 30px;
  position: absolute;
  display: block;
  background-image: linear-gradient(-10deg, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  visibility: visible;
  opacity: 0;
}

.heart-menu:hover .heart-icon-full,
.heart-index:hover .heart-icon-full {
  -webkit-animation: fill 1000ms forwards;
          animation: fill 1000ms forwards;
}

.heart-menu:hover .heart-icon-empty,
.heart-index:hover .heart-icon-empty {
  opacity: 0;
}
/*# sourceMappingURL=main.css.map */