.heart {
    width: 35px;
    height: 35px;
    position: relative;
    font-size: 30px;
}

.first-icon {
    position: absolute;
    transform: scale(1);
    opacity: 1;
}

.hover-icon {
    transition: transform 2000ms ease-in-out;
    font-size: 30px;
    position: absolute;
    display: block;
    color: transparent;
    visibility: visible;
    right: 1px;
    bottom: 2px;
    opacity: 0;
    color: $color-primary;
}

i.hover-icon:hover {
    animation: heart 2s forwards;
    .first-icon {
        opacity: 0;
    }
}