@font-face {
    font-family: 'shrikhandregular';
    src: url('../../fonts/Shrikhand-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../../fonts/Roboto-Black.ttf'), url('../../fonts/Roboto-BlackItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../../fonts/Roboto-Bold.ttf'), url('../../fonts/Roboto-BoldItalic.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../../fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('../../fonts/Roboto-Medium.ttf'), url('../../fonts/Roboto-MediumItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin';
    src: url('../../fonts/Roboto-Thin.ttf'), url('../../fonts/Roboto-ThinItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('../../fonts/Roboto-Light.ttf'), url('../../fonts/Roboto-LightItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

#homepage-bloc {
    min-width: 375px;
    max-width: 600px;
    margin: 0px;
}