@font-face {
    font-family: "shrikhandregular";
    src: url("Shrikhand-Regular.ttf");
}

@font-face {
    font-family: "roboto";
    src: url("Roboto-Black.ttf");
    src: url("Roboto-BlackItalic.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "robotobold";
    src: url("Roboto-Bold.ttf");
    src: url("Roboto-BoldItalic.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "robotoregular";
    src: url("Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "robotomedium";
    src: url("Roboto-Medium.ttf");
    src: url("Roboto-MediumItalic.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "robotothin";
    src: url("Roboto-Thin.ttf");
    src: url("Roboto-ThinItalic.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "robotolight";
    src: url("Roboto-Light.ttf");
    src: url("Roboto-LightItalic.ttf");
    font-weight: normal;
    font-style: normal;
}

#homepage-bloc {
    min-width: 375px;
    max-width: 600px;
}