#localisation {
    padding: 15px;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.search-bar {
    background-color: #e6e6e6;
    border: none;
    font-family: 'shrikhandregular';
    font-size: 15px;
    padding-left: 20px;
}