#localisation {
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 100%;
}

.search-bar {
    background-color: #e6e6e6;
    border: none;
    font-family: $bold-font;
    font-size: 18px;
    padding-left: 20px;
    text-align: center;
    width: 43%;
    height: 50px;
}