/*presentation site section*/

.presentation {
    background-color: #f6f6f6;
    text-align: center;
    padding: 15px;
    h2 {
        font-family: $bold-font;
        text-align: center;
        padding: 10px 65px 0px 65px
    }
    p {
        font-family: 'robotolight';
    }
}