@keyframes spinner-anim {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden
    }
}

@keyframes fa-rotate-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes slide-menu {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fill {
    0% {
        opacity: 0.1
    }
    20% {
        opacity: 0.2
    }
    40% {
        opacity: 0.4
    }
    60% {
        opacity: 0.6
    }
    80% {
        opacity: 0.8
    }
    100% {
        opacity: 1
    }
}

@keyframes rotate-check {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}