    @keyframes rotate-check {
        0% {
            transform: rotate(50deg)
        }
        100% {
            transform: rotate(360deg)
        }
    }
    
    @keyframes spinner-anim {
        0% {
            opacity: 1
        }
        100% {
            opacity: 0;
            visibility: hidden
        }
    }
    
    @keyframes fa-rotate-spinner {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    @keyframes slide-in {
        0% {
            transform: translateY(25px);
            opacity: 0;
        }
        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }