@mixin footer-hover {
     :hover {
        color: $color-primary;
    }
}

@mixin flex-justify-align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-align-center {
    display: flex;
    align-items: center;
}

@mixin ellipsis-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin desktop {
    @media screen and (min-width: 1260px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 768px) and (max-width: 1260px) {
        @content;
    }
}